<ion-view ng-controller="infoCtrl" name="unsolved" view-title="Unsolved Problem">
<ion-content>
<ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Crud</h1>
      </ion-header-bar>
      <ion-content ng-controller="infoCtrl" >
      <div class="table1">
        <form>
          <label class="item item-input">
            <input type="text" placeholder="firstname" ng-model="firstname">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="lastname" ng-model="lastname">
          </label>
          <button class="button button-block button-positive" ng-click="addInfo()">Add</button>
        </form>
      </div>
      <div class="table2">
        <div class="row">
          <div class="col col-50">First Name</div>
          <div class="col col-50">Last Name</div>
        </div>
        
      </div>

      <ion-list show-delete="false" can-swipe="true">
        <ion-item ng-repeat="item in alldata">
          <div class="row">
             <div class="col col-50">{{item.firstname}}</div>
             <div class="col col-50">{{item.lastname}}</div>
            <ion-button class="button-assertive icon ion-edit" href="#/app/editUnsolvedProblem" ng-click="edit(item)"></ion-button>
          </div>
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click="showConfirm(item)"></ion-option-button>
        </ion-item>
      </ion-list>
      <ion-button ng-click="showConfirm()" class="button-assertive icon ion-trash-a"></ion-button>
      </ion-content>
    </ion-pane>
  </ion-content>
</ion-view>