<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ng-cordova.min.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

     <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Crud</h1>
      </ion-header-bar>
      <ion-content ng-controller="infoCtrl" >
      <div class="table1">
        <form>
          <label class="item item-input">
            <input type="text" placeholder="firstname" ng-model="firstname">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="lastname" ng-model="lastname">
          </label>
          <button class="button button-block button-positive" ng-click="addInfo()">Add</button>
        </form>
      </div>
      <div class="table2">
        <div class="row">
          <div class="col col-50">First Name</div>
          <div class="col col-50">Last Name</div>
        </div>
        
      </div>

      <ion-list show-delete="false" can-swipe="true">
        <ion-item ng-repeat="item in alldata">
          <div class="row">
             <div class="col col-50">{{item.firstname}}</div>
             <div class="col col-50">{{item.lastname}}</div>
            <ion-button class="button-assertive icon ion-edit" href="#/app/editUnsolvedProblem" ng-click="edit(item)"></ion-button>
          </div>
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click="showConfirm(item)"></ion-option-button>
        </ion-item>
      </ion-list>
      <ion-button ng-click="showConfirm()" class="button-assertive icon ion-trash-a"></ion-button>
      </ion-content>
    </ion-pane>
  </body>
</html>
